
/* css */
/* size sm, xs */

h1{
  font-size: 40vw;
  line-height: .7;
}
h3{
  font-size: 1.5vw;
}
.row {
    position: relative;
}
.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}
.top-align-text-right {
  position: absolute;
  top:0;
  right:0;
  padding-top: 7vw;
  padding-right: 10px;
}
.top-align-text-left {
  position: absolute;
  top:0;
  left:0;
  padding-top: 7vw;
  padding-left: 10px;
}
}




/* size md */
@media (min-width: 768px){
h1{
  font-size: 90vw;
  line-height: .7;
}
h3{
  font-size: 25vw;
}
.row {
    position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}
}
.top-align-text-right {
  position: absolute;
  top:0;
  right:0;
  padding-right: 10px;
}
.top-align-text-left {
  position: absolute;
  top:0;
  left:0;
  padding-left: 10px;
}
}

/* size lg,xl */
@media (min-width: 992px){
h1{
  font-size: 130vw;
  line-height: .7;
}
h3{
  font-size: 18px;
}
.row {
    position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}
}
.top-align-text-right {
  position: absolute;
  top:0;
  right:0;
  padding-right: 10px;
}
.top-align-text-left {
  position: absolute;
  top:0;
  left:0;
  padding-left: 10px;
}
}
