
/* css */
/* size sm, xs */
@media (min-width: 576px){
h1{
  font-size: 18.75rem;
  line-height: .7;
}
h3{
  font-size: .9373rem;
}
.row {
    position: relative;
}
.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 50;
}
.top-align-text {
  position: absolute;
  top: 10;
  right: 50;
}
}
}



/* size md */
@media (min-width: 768px){
h1{
  font-size: 21.25rem;
  line-height: .7;
}
h3{
  font-size: 1.03125rem;
}
.row {
    position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 50;
}
}
.top-align-text {
  position: absolute;
  top: 10;
  right: 50;
}
}

/* size lg,xl */
@media (min-width: 992px){
h1{
  font-size: 23.125rem;
  line-height: .7;
}
h3{
  font-size: 1.125rem;
}
.row {
    position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 50;
}
}
.top-align-text {
  position: absolute;
  top: 10;
  right: 50;
}
}
